* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
}

body > header {
    background-color: #14213D;
    padding: 16px 0;
    color: #E5E5E5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #FCA311;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.articles article img {
   /* height: 180px; */
   width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
    padding-top: 70px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}
.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: #F4F4F4;
}

#sports .articles article a {
    background-color: #008000;
}

#economy {
    background-color: #FFE5B4;
}

#economy .articles article a {
    background-color: #FFD700;
}

#entertainment {
    background-color: #FFF0F5;
}

#entertainment .articles article a {
    background-color: #FF1493;
}

#tecnology {
    background-color: #E6E6FA;
}

#tecnology .articles article a {
    background-color: #4682B4;
}